@import url("./colors.css");

#job-market {
  display: grid;
  grid-template-columns: 4vh 4vh 4vh;
  grid-template-rows: repeat(12, 4vh);
  grid-gap: 0.5vh;
}

#job-market > div {
  border-radius: 0.75vh;
  background-color: var(--empty-space);
  color: white;
  text-align: center;
  font-size: 2.5vh;
  padding: 0.5vh;
}

#job-market .cowboy {
  background-color: var(--cowboy-color);
}

#job-market .craftsman {
  background-color: var(--craftsman-color);
}

#job-market .engineer {
  background-color: var(--engineer-color);
}
