.neutral {
  background-color: rgb(47, 50, 51);
  color: #fff;
  border-radius: 10px;
  height: calc(100% - 14px);
  padding: 7px;
  position: relative;
  top: -100%;
  z-index: -1;
}

.neutral > div {
  background-color: rgb(135, 143, 146);
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.neutral > div > div {
}

.neutral .body {
  flex-grow: 1;
}
.neutral .actions {
  flex-grow: 1;
  display: flex;
}

.neutral > div > div > div {
  flex-grow: 1;
  border: 1px dashed;
  overflow: hidden;
  /* flex-grow: 1; */
}
