.neutral {
  background-color: rgb(47, 50, 51);
  color: #fff;
  border-radius: 1vh;
  height: calc(100% - 1vh);
  padding: 0.5vh;
  position: relative;
  top: -100%;
}

.neutral > div {
  background-color: rgb(135, 143, 146);
  height: 100%;
  border-radius: 0.5vh;
  display: flex;
  flex-direction: column;
}

.neutral .body {
  flex-grow: 1;
}
.neutral .actions {
  flex-grow: 1;
  display: flex;
}

.neutral > div > div > div {
  flex-grow: 1;
}
