@import url("./colors.css");

.player {
  border: 0.5vh solid;
  margin: 0.5vh;
  padding: 0.25vh;
  width: 20vh;
}

.player0 {
  border-color: var(--player0-color);
}

.player1 {
  border-color: var(--player1-color);
}

.player2 {
  border-color: var(--player2-color);
}

.player3 {
  border-color: var(--player3-color);
}

.player-header {
  display: flex;
}

.player-hand {
  display: flex;
}

.player-workers > div {
  display: flex;
}

.player-workers > div > div {
  margin: 0.1vh;
}
