.teepee {
  border-radius: 1vh;
  height: calc(100% - 0.6vh);
  padding: 0.3vh;
  position: relative;
  top: -100%;
}

.teepee.green {
  background-color: rgb(19, 49, 23);
}

.teepee.blue {
  background-color: rgb(50, 68, 129);
}

.teepee > div {
  color: white;
  font-size: 1.3vh;
}
