.space {
  background-color: #ddd;
  color: #fff;
  border-radius: 1vh;
  z-index: 0;
}

.woods {
  border: 0.4vh solid rgb(119, 160, 134);
  position: relative;
  top: -0.3vh;
  left: -0.3vh;
  height: 100%;
  width: 100%;
}

.A,
.B,
.C,
.D,
.E,
.F,
.G {
  background-color: #aaa;
}

.flood1,
.flood2,
.flood3,
.flood4 {
  background-color: rgb(187, 202, 230);
}

.drought1,
.drought2,
.drought3,
.drought4 {
  background-color: rgb(228, 221, 211);
}

.rockfall1,
.rockfall2,
.rockfall3,
.rockfall4 {
  background-color: rgb(189, 189, 189);
}

.teepee1,
.teepee2,
.teepee4,
.teepee6,
.teepee8,
.teepee10 {
  background-color: rgb(188, 184, 196);
}
