.tokens {
  height: 100%;
  text-align: left;
}

.cattleman:hover {
  opacity: 0.25;
}

.tokens > div {
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
  line-height: 0;
}

.cattleman {
  height: 1.5vh;
  width: 1.5vh;
  border-radius: 50%;
  border: 1px black solid;
  display: inline-block;
  margin-bottom: -0.75vh;
  position: relative;
  z-index: 1;
}
