#building-selection {
  visibility/: hidden;
  display: grid;
  grid-template-columns: 9vh 9vh;
  grid-template-rows: repeat(5, 9vh);
  grid-gap: 1vh;
  text-align: center;
}

#building-selection.visible {
  visibility: visible;
}

#building-selection .private {
  position: relative;
  top: 0%;
}

#building-selection .active {
  box-shadow: 0px 0px 15px 5px rgb(4, 141, 38);
}
