#cities {
  display: grid;
  grid-template-rows: 4vh;
  grid-template-columns: repeat(11, 9vh);
  grid-gap: 0.5vh;
  grid-auto-flow: column;
}

#cities .city {
  border: 1px solid black;
  font-size: 1vh;
  text-align: center;
  border-radius: 0.5vh;
}

#cities .city.black {
  background-color: rgb(73, 73, 73);
  color: white;
}

.city .name {
  padding: 1%;
}

.city .distance {
  font-size: 150%;
}
