.hazard {
  background-color: #ddd;
  color: #fff;
  border-radius: 0.75vh;
  height: calc(100% - 0.8vh);
  padding: 0.4vh;
}

.hazard.flood {
  background-color: rgb(68, 127, 204);
}

.hazard.drought {
  background-color: rgb(114, 84, 40);
}

.hazard.rockfall {
  background-color: rgb(78, 83, 121);
}

.hazard > div {
  height: calc(100% - 0.4vh);
  border-radius: 0.5vh;
  padding: 0.2vh;
  background-color: rgb(177, 177, 177);
}

.hazard > div > span {
  display: block;
  font-size: 1.3vh;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
