@import url("./colors.css");

#job-market-token {
  display: grid;
  align-items: center;
  justify-items: center;
}

#job-market-token > div {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgb(75, 111, 211);
  color: rgb(109, 9, 9);
  font-weight: bold;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

#job-market {
  display: grid;
}

#job-market-labor {
  display: grid;
  grid-template-rows: repeat(12, 4vh);
  grid-gap: 0.5vh;
}

#job-market-prices {
  grid-template-columns: 2vh;
  grid-template-rows: repeat(12, 4vh);
  display: grid;
  grid-gap: 0.5vh;
  align-items: center;
}

#job-market-prices > div {
  font-size: 2vh;
}

#job-market-prices .refillCows1,
#job-market-prices .refillCows2 {
  position: relative;
  left: -115%;
  font-size: 1vh;
}

#job-market-prices .refillCows1 {
  grid-row: 6 / 8;
}

#job-market-prices .refillCows2 {
  grid-row: 9 / 11;
}

#job-market-labor > div {
  border-radius: 0.75vh;
  background-color: var(--empty-space);
  color: white;
  text-align: center;
  font-size: 2.5vh;
}

#job-market-labor .cowboy {
  background-color: var(--cowboy-color);
}

#job-market-labor .craftsman {
  background-color: var(--craftsman-color);
}

#job-market-labor .engineer {
  background-color: var(--engineer-color);
}

#foresight-header {
  display: grid;
  grid-template-columns: 4vh 4vh 4vh;
  grid-template-rows: 2vh;
  grid-gap: 0.5vh;
  text-align: center;
  padding-bottom: 0.5vh;
}

#foresight-header > div {
  background-color: var(--empty-space);
  border-radius: 50%;
  width: 50%;
  position: relative;
  left: 25%;
}

#foresight {
  display: grid;
  grid-template-columns: 4vh 4vh 4vh;
  grid-template-rows: 4vh 4vh;
  grid-gap: 0.5vh;
  grid-auto-flow: column;
  margin-bottom: 2vh;
  text-align: center;
}

.jobtile {
  border-radius: 0.75vh;
  background-color: var(--empty-space);
  color: white;
  text-align: center;
  font-size: 2.5vh;
  padding: 0.5vh;
  width: 3vh;
  height: 3vh;
}

#foresight > div {
  border-radius: 0.75vh;
  background-color: var(--empty-space);
  color: white;
  text-align: center;
}

#foresight .cowboy {
  background-color: var(--cowboy-color);
}

#foresight .craftsman {
  background-color: var(--craftsman-color);
}

#foresight .engineer {
  background-color: var(--engineer-color);
}

#foresight .hazard,
#foresight .teepee {
  position: relative;
  top: 0%;
}
