.neutral {
  background-color: rgb(133, 106, 80);
  color: #fff;
  border-radius: 0.75vh;
  height: calc(100% - 1vh);
  padding: 0.5vh;
  position: relative;
  top: -100%;
}

.neutral > div {
  background-color: rgb(63, 63, 63);
  height: 100%;
  border-radius: 0.5vh;
  /* display: flex;
  flex-direction: column; */
}

.neutral .body {
  height: 25%;
}
.neutral .actions {
  height: 75%;
  display: flex;
  text-align: left;
}

.neutral > div > div > div {
  flex-grow: 1;
}
