.neutral {
  background-color: rgb(133, 106, 80);
  color: #fff;
  border-radius: 0.75vh;
  height: calc(100% - 1vh);
  padding: 0.5vh;
  position: relative;
  top: -100%;
}

.neutral > div {
  background-color: rgb(63, 63, 63);
  height: 100%;
  border-radius: 0.5vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
}

.neutral .body {
  display: flex;
  font-size: 75%;
  align-items: center;
  justify-content: center;
}
.neutral .actions {
  display: flex;
  text-align: left;
}

.neutral > div > div > div {
  flex-grow: 1;
}
