@import url("./colors.css");

.private {
  color: #fff;
  border-radius: 0.75vh;
  height: calc(100% - 1vh);
  padding: 0.5vh;
  position: relative;
  top: -100%;
}

.private.player0,
.private.player0 .cattleman {
  background-color: var(--player0-color);
}

.private.player1,
.private.player1 .cattleman {
  background: var(--player1-color);
}

.private.player2,
.private.player2 .cattleman {
  background: var(--player2-color);
}

.private.player3,
.private.player3 .cattleman {
  background: var(--player3-color);
}

.private > div {
  background-color: rgb(63, 63, 63);
  height: 100%;
  border-radius: 0.5vh;
}

.private .body {
  display: inline-flex;
  justify-content: space-between;
  height: 25%;
  font-size: 100%;
}
.private .actions {
  height: 75%;
  display: flex;
  text-align: left;
}

.private > div > div > div {
  flex-grow: 1;
}

.private.player0 .building {
  color: var(--player0-color);
}

.private.player1 .building {
  color: var(--player1-color);
}

.private.player2 .building {
  color: var(--player2-color);
}

.private.player3 .building {
  color: var(--player3-color);
}
