@import url("./colors.css");

.separator {
  color: black;
  font-weight: bold;
  font-size: 125%;
  font-family: Varela;
}

.or,
.and {
  font-size: 75%;
  color: black;
  font-weight: bold;
}

.money .coin {
  color: var(--money-color);
}

.money .fa-layers-text {
  font-weight: bold;
  font-size: 80%;
}

.money .negative {
  color: var(--money-color-negative);
}

.points {
  font-size: 100%;
}

.points .shield {
  color: rgb(9, 71, 185);
}

.points .negative {
  color: rgb(196, 60, 43);
}

.points .fa-layers-text {
  font-size: 75%;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.cattleman {
  height: 1.5vh;
  width: 1.5vh;
  border-radius: 50%;
  border: 1px black solid;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cattleman-player-0 {
  background-color: var(--player0-color);
}

.cattleman-player-1 {
  background-color: var(--player1-color);
}

.cattleman-player-2 {
  background-color: var(--player2-color);
}

.cattleman-player-3 {
  background-color: var(--player3-color);
}

.symbol-card {
  font-size: 150%;
}

.symbol-card .background {
  font-size: 48%;
  color: white;
}

.symbol-card .fa-layers-text {
  font-size: 50%;
  font-weight: bold;
}

.symbol-card .Jersey {
  color: var(--jersey-color);
}

.symbol-card .Guernsey {
  color: var(--guernsey-color);
}

.symbol-card .DutchBelt {
  color: var(--dutch-belt-color);
}

.symbol-card .BlackAngus {
  color: var(--black-angus-color);
}

.symbol-card .Holstein {
  color: var(--holstein-color);
}

.symbol-card .BrownSwiss {
  color: car(--brown-swiss-color);
}

.symbol-card .Aryshire {
  color: var(--aryshire-color);
}

.symbol-card .WestHighland {
  color: var(--west-highland-color);
}

.symbol-card .TexasLonghorn {
  color: var(--texas-longhorn-color);
}

.symbol-card .any {
  background: linear-gradient(
    to right,
    var(--holstein-color),
    var(--brown-swiss-color),
    var(--aryshire-color)
  );
  color: transparent;
}

.worker {
  background-color: rgb(73, 73, 73);
  color: white;
  font-size: 60%;
  border-radius: 0.25vh;
  width: 1.5vh;
  height: 1.5vh;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0.2vh;
}

.worker.cowboy {
  background-color: var(--cowboy-color);
}

.worker.craftsman {
  background-color: var(--craftsman-color);
}
.worker.engineer {
  background-color: var(--engineer-color);
}

.building {
  color: rgb(57, 63, 75);
  font-size: 150%;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
}

.train {
  font-size: 125%;
  color: rgb(50, 50, 58);
}

.train .train-forward {
  position: relative;
  left: -15%;
  color: rgb(12, 180, 77);
}

.train .train-backwards {
  position: relative;
  left: 15%;
  z-index: 1;
  color: rgb(219, 48, 26);
}

.train .background {
  font-size: 50%;
}

.train .fa-layers-text {
  font-size: 40%;
}

.certificate {
  color: rgb(53, 63, 97);
}

.certificate .fa-layers-text {
  font-size: 75%;
}

.certificate .certificate-advance {
  color: rgb(13, 104, 48);
}

.objective {
  color: black;
  font-size: 125%;
}

.auxillary {
  color: rgb(63, 62, 66);
  font-size: 125%;
}

.symbol-teepee {
  background-image: linear-gradient(
    to bottom right,
    rgb(31, 187, 39),
    rgb(60, 77, 235)
  );
  font-size: 75%;
  border-radius: 0.25vh;
  padding: 0.25vh;
  color: white;
}

.symbol-teepee.green {
  background-image: linear-gradient(
    to bottom right,
    rgb(31, 187, 39),
    rgb(31, 187, 39)
  );
  color: white;
}

.symbol-teepee.blue {
  background-image: linear-gradient(
    to bottom right,
    rgb(60, 77, 235),
    rgb(60, 77, 235)
  );
  color: white;
}

.cow {
  font-size: 150%;
  color: black;
}

.symbol-hazard {
  border-radius: 0.25vh;
  padding: 0.5vh;
  margin: 0.25vh;
  background-color: rgb(139, 125, 102);
}

.pair span {
  margin: -0.35vh;
  color: black;
}

.pair .pair-card {
  font-size: 115%;
  background-image: linear-gradient(
    to right,
    rgb(107, 106, 121),
    rgb(180, 172, 171),
    rgb(14, 112, 38),
    rgb(0, 0, 0),
    rgb(182, 59, 21),
    rgb(199, 187, 26),
    rgb(21, 64, 182),
    rgb(87, 50, 33),
    rgb(105, 15, 189)
  );
  border-radius: 0.25vh;
}
