.teepee {
  border-radius: 0.75vh;
  height: calc(100% - 0.6vh);
  padding: 0.3vh;
  /* display: grid;
  width: 100%;
  align-items: center;
  justify-items: center; */
}

.teepee.green {
  background-color: rgb(19, 49, 23);
}

.teepee.blue {
  background-color: rgb(50, 68, 129);
}

.teepee > div {
  color: white;
  font-size: 1.3vh;
}
