@import url("./colors.css");

.tokens {
  height: 100%;
  text-align: left;
}

.tokens .cattleman:hover {
  opacity: 0.25;
}

.tokens > div {
  height: 80%;
  padding: 10%;
  display: grid;
}

.nobuild .tokens > div {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.build .tokens > div {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
