@import url("./colors.css");

#trail {
  display: grid;
  grid-template-columns: repeat(11, 4vh);
  grid-template-rows: repeat(14, 4vh);
  grid-gap: 1vh;
  text-align: center;
  padding: 2vh;
}

#trail .token {
  z-index: 1;
  background: none;
  position: relative;
  top: 10%;
  width: 0;
  height: 0;
}

#trail .start {
  grid-column: 11;
  grid-row: 13;
}

#trail .A {
  grid-column: 10 / 12;
  grid-row: 11 /13;
}

#trail .A1 {
  grid-column: 8 / 10;
  grid-row: 11 / 13;
}

#trail .A2 {
  grid-column: 6 / 8;
  grid-row: 11 / 13;
}

#trail .A3 {
  grid-column: 4 / 6;
  grid-row: 11 / 13;
}

#trail .flood1 {
  grid-column: 10;
  grid-row: 13;
}

#trail .flood2 {
  grid-column: 9;
  grid-row: 13;
}

#trail .flood3 {
  grid-column: 8;
  grid-row: 13;
}

#trail .flood4 {
  grid-column: 8;
  grid-row: 14;
}

#trail .floodRisk1 {
  grid-column: 6 / 8;
  grid-row: 13 /15;
}

#trail .floodRisk2 {
  grid-column: 4 / 6;
  grid-row: 13 /15;
}

#trail .B {
  grid-column: 2 / 4;
  grid-row: 13 / 15;
}

#trail .B1 {
  grid-column: 2 / 4;
  grid-row: 11 / 13;
}

#trail .B2 {
  grid-column: 2 / 4;
  grid-row: 9 / 11;
}

#trail .B3 {
  grid-column: 3 / 5;
  grid-row: 7 / 9;
}

#trail .drought1 {
  grid-column: 1;
  grid-row: 12;
}

#trail .drought2 {
  grid-column: 1;
  grid-row: 11;
}

#trail .drought3 {
  grid-column: 1;
  grid-row: 10;
}

#trail .drought4 {
  grid-column: 1;
  grid-row: 9;
}

#trail .droughtRisk1 {
  grid-column: 1 / 3;
  grid-row: 7 / 9;
}

#trail .C {
  grid-column: 4 / 6;
  grid-row: 5 / 7;
}

#trail .C1 {
  grid-column: 6 / 8;
  grid-row: 5 / 7;
}

#trail .C2 {
  grid-column: 8 / 10;
  grid-row: 5 / 7;
}

#trail .C3 {
  grid-column: 6 / 8;
  grid-row: 7 / 9;
}

#trail .D {
  grid-column: 8 / 10;
  grid-row: 7 / 9;
}

#trail .teepee-1 {
  grid-column: 6;
  grid-row: 9;
}

#trail .teepee-2 {
  grid-column: 7;
  grid-row: 9;
}

#trail .teepee-3 {
  grid-column: 8;
  grid-row: 9;
}

#trail .teepee1 {
  grid-column: 5;
  grid-row: 9;
}

#trail .teepee2 {
  grid-column: 5;
  grid-row: 10;
}

#trail .teepee4 {
  grid-column: 6;
  grid-row: 10;
}

#trail .teepee6 {
  grid-column: 7;
  grid-row: 10;
}

#trail .teepee8 {
  grid-column: 8;
  grid-row: 10;
}

#trail .teepee10 {
  grid-column: 9;
  grid-row: 10;
}

#trail .teepee-1:before,
#trail .teepee-2:before,
#trail .teepee-3:before,
#trail .teepee1:before,
#trail .teepee2:before,
#trail .teepee4:before,
#trail .teepee6:before,
#trail .teepee8:before,
#trail .teepee10:before {
  float: left;
  content: "-3";
  font-size: 1vh;
  width: 1.25vh;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: var(--money-color);
  position: relative;
  top: 3.5vh;
  left: 1.375vh;
  z-index: 1;
}

#trail .teepee-1:before {
  content: "-1";
  color: var(--money-color-negative);
}

#trail .teepee-2:before {
  content: "-2";
  color: var(--money-color-negative);
}

#trail .teepee-3:before {
  content: "-3";
  color: var(--money-color-negative);
}

#trail .teepee1:before {
  content: "1";
}

#trail .teepee2:before {
  content: "2";
}

#trail .teepee4:before {
  content: "4";
}

#trail .teepee6:before {
  content: "6";
}

#trail .teepee8:before {
  content: "8";
}

#trail .teepee10:before {
  content: "10";
}
#trail .teepeeRisk1 {
  grid-column: 10 / 12;
  grid-row: 9 / 11;
}

#trail .teepeeRisk2 {
  grid-column: 10 / 12;
  grid-row: 7 / 9;
}

#trail .E {
  grid-column: 10 / 12;
  grid-row: 5 / 7;
}

#trail .E1 {
  grid-column: 9 / 11;
  grid-row: 3 / 5;
}

#trail .E2 {
  grid-column: 7 / 9;
  grid-row: 3 / 5;
}

#trail .rockfall1 {
  grid-column: 11;
  grid-row: 4;
}

#trail .rockfall2 {
  grid-column: 11;
  grid-row: 3;
}

#trail .rockfall3 {
  grid-column: 11;
  grid-row: 2;
}

#trail .rockfall4 {
  grid-column: 11;
  grid-row: 1;
}

#trail .rockfallRisk1 {
  grid-column: 9 / 11;
  grid-row: 1 / 3;
}

#trail .rockfallRisk2 {
  grid-column: 7 / 9;
  grid-row: 1 / 3;
}

#trail .F {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
}

#trail .F1 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

#trail .F2 {
  grid-column: 5 / 7;
  grid-row: 3 / 5;
}

#trail .G {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

#trail .G1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#trail .G2 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

#trail .KansasCity {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#trail .space.KansasCity,
#trail .space.start {
  border: 2px maroon solid;
}

#trail .space.KansasCity:after {
  content: "Kansas City";
  color: black;
  font-weight: bold;
  position: relative;
  top: 100%;
}

#trail .space.start:after {
  content: "start";
  color: black;
  font-weight: bold;
  position: relative;
  top: 100%;
}
